{% extends 'base.html' %}
{% block content %}
    <h2>Votes for {{ prize_name }}</h2>
    <div class="row">

            {% for person_name, votes in top_votes %}
            <div class="col-md-3 thumbnail-container">
                        <p class="text-center">{{ person_name.split('.')[0] }}</p>
                        <img class="thumbnail" src="{{ url_for('static', filename='images/people/' + person_name +'.JPG') }}" alt="{{ person_name }}"">
                    </div>
                
            {% endfor %}
        </div>
        <button type="button" class="btn btn-primary" onclick="openAdminModal()">
            Show Winner
        </button>
        <div class="modal" id="winnerModal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="winnerModalLabel">Winner of {{prize_name}}</h5>
                        <button type="button" class="close" onclick="closeAdminModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>The winner  is: <h3>{{ winner[0].split('.')[0] }}</h3></p>
                        <img id="modalImage" class="modal-image" src="{{ url_for('static', filename='images/people/' + winner[0] +'.JPG') }}" alt="{{ winner[0] }}"">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="closeAdminModal()">Close</button>
                    </div>
        </div>


        <script>
             function openAdminModal() {

            document.getElementById('winnerModal').style.display = 'flex';
        }

        function closeAdminModal() {
            document.getElementById('winnerModal').style.display = 'none';
        }
        </script>
{% endblock %}
