{% extends 'base.html' %}
{% block content %}
<body class="d-flex align-items-center justify-content-center vh-100" style="margin-top: 20%;">
    <div class="container text-center">
    <h1>Welcome, {{ current_user.username }}!</h1>
    <p>Cast your votes for the award show:</p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li style="color: {% if 'danger' in message %}red{% elif 'success' in message %}green{% endif %}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <br>
    <div class="row">
        {% for award_name, award_sentence in awards.items() %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ award_sentence }}</h5>
                        <a href="{{ url_for('vote', award_name=award_name, award_sentence=award_sentence) }}" class="btn btn-primary">Vote</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if current_user %}
    <h2> Admin overview </h2>
    <a href="{{ url_for('admin_dashboard') }}">
        Admin Dashboard
    </a>
    {% endif %}
    <a href="{{ url_for('logout') }}">Logout</a>
</div>
</body>
{% endblock %}