{% extends 'base.html' %}
{% block content %}
    <input type="hidden" id="hiddenVoteInput">
        <h1 class="mt-4 mb-4">{{ award_sentence }}</h1>
        <a href="{{ url_for('dashboard') }}" class="btn btn-primary">Return</a>
        <div class="row">
            {% for image_file in image_files %}
                {% if image_file.split('.')[0] != current_user.username %}
                <div class="col-md-3 thumbnail-container">
                    <p class="text-center">{{ image_file.split('.')[0] }}</p>
                    <img class="thumbnail" src="{{ url_for('static', filename='images/people/' + image_file) }}" alt="{{ image_file }}" onclick="openModal('{{ image_file }}')">
                </div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- Modal for confirmation -->
        <div id="myModal" class="modal">
                <button type="button" class="close" aria-label="Close" onclick="closeModal()">
                    <span aria-hidden="true" class="closebtn">&times;</span>
                </button>
                
                <h2>Confirm Vote</h2>
                <img id="modalImage" class="modal-image" alt="Selected Person's Image">
                <p id="voteConfirmationText"></p>
                <button onclick="confirmVote()" class="btn btn-primary">Confirm</button>
        </div>

    <script>
        function openModal(personName) {
            const name = personName.split('.')[0]
            document.getElementById('voteConfirmationText').innerHTML = 'Are you sure you want to vote for ' + name + '?';
            document.getElementById('myModal').style.display = 'block';
            var imageUrl = "{{ url_for('static', filename='images/people/') }}" + personName;
            document.getElementById('modalImage').src = imageUrl;
            document.getElementById('hiddenVoteInput').value = name;
        }

        function closeModal() {
            document.getElementById('myModal').style.display = 'none';
        }

        function confirmVote() {
        // Retrieve the personName from the hidden input field
        var personName = document.getElementById('hiddenVoteInput').value;

        // Make an AJAX request to send the vote to the Flask app
        $.ajax({
            type: 'POST',
            url: '/submit_vote',
            data: JSON.stringify({ 'personName': personName , 'award_name': '{{award_name}}'}),
            contentType: 'application/json;charset=UTF-8',
            success: function(response) {
                closeModal();
                window.location.href = "{{ url_for('dashboard') }}";
            },
            error: function(error) {
                alert('Error confirming vote.');
                console.error(error);
            }
        });
    }
    </script>

    <!-- Bootstrap JS and Popper.js for Bootstrap functionality -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

{% endblock %}
